<div class="p-8 bg-gray-50 text-gray-800">
  <!-- Quiénes Somos -->
  <section class="mb-8">
    <h2 class="text-2xl font-bold text-indigo-600 mb-4">QUIÉNES SOMOS</h2>
    <p class="text-lg leading-7">
      Somos una empresa fundada en 2021 con foco en el análisis de datos sanitarios, la generación de modelos que
      gatillan ciclos de mejora continua, y el soporte a instituciones de salud y organizaciones relacionadas. Nuestro
      objetivo es incrementar la eficiencia, mejorar los resultados y desarrollar proyectos innovadores que generen un
      impacto positivo en el sector.
    </p>
  </section>

  <!-- Misión -->
  <section class="mb-8">
    <h2 class="text-2xl font-bold text-indigo-600 mb-4">MISIÓN</h2>
    <p class="text-lg leading-7">
      Mejorar la experiencia de pacientes y la eficiencia del sistema sanitario por medio de: herramientas modernas de
      análisis estadístico orientado a la mejora continua, capacitación del personal sanitario, manejo adecuado de los
      recursos y flujos eficientes de pacientes y recursos.
    </p>
  </section>

  <!-- Visión -->
  <section class="mb-8">
    <h2 class="text-2xl font-bold text-indigo-600 mb-4">VISIÓN</h2>
    <p class="text-lg leading-7">
      Ser un agente transformador del sistema de salud de la región hacia la medicina basada en el valor.
    </p>
  </section>

  <!-- Cómo Trabajamos -->
  <section>
    <h2 class="text-2xl font-bold text-indigo-600 mb-4">CÓMO TRABAJAMOS</h2>
    <p class="text-lg leading-7">
      Trabajamos en conjunto con nuestros clientes, co-creando soluciones personalizadas que priorizan las necesidades
      específicas de cada organización. Este enfoque colaborativo nos permite diseñar estrategias que se alinean
      directamente con sus objetivos, maximizando el impacto de nuestras propuestas y garantizando resultados relevantes
      y sostenibles.
    </p>
  </section>
</div>
